{% extends 'base_template.html' %}
{% block content %}
    <div class="content">
        <h1>Balance of Goods</h1>
        <form id="date-filter-form" class="text-center mx-auto mt-5 mb-5">
            <div class="form-inline justify-content-center">
                <div class="form-group mr-2">
                    <label for="start-date" class="mr-2">Start Date:</label>
                    <input type="date" id="start-date" name="start_date" class="form-control">
                </div>
                <div class="form-group mr-2">
                    <label for="end-date" class="mr-2">End Date:</label>
                    <input type="date" id="end-date" name="end_date" class="form-control">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="filterByDate()">Filter</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Good</th>
                    <th>Total Income</th>
                    <th>Total Expense</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="goods-table-body">
                {% for item in goods_balance %}
                <tr>
                    <td>{{ item.good_name }}</td>
                    <td>{{ item.total_income }}</td>
                    <td>{{ item.total_expense }}</td>
                    <td>{{ item.balance }}</td>
                    <td>
                        <button onclick="getAdditionalInfo({{ item.good_id }})" class="btn btn-primary">Get Additional Info</button>
                    </td>
                </tr>
                <tr class="additional-info-row" id="additional-info-{{ item.good_id }}" style="display: none;">
                    <td colspan="5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>Income/Expense</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody id="additional-info-body-{{ item.good_id }}"></tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function filterByDate() {
            var startDate = document.getElementById('start-date').value;
            var endDate = document.getElementById('end-date').value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/ri/inventory/", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            var csrftoken = getCookie('csrftoken');
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    updateTable(responseData.goods_balance);
                }
            };
            xhr.send('start_date=' + startDate + '&end_date=' + endDate);
        }

        function updateTable(goodsData) {
            console.log(goodsData);
            var tbody = document.getElementById('goods-table-body');
            tbody.innerHTML = '';

            goodsData.forEach(function (item) {
                var row = document.createElement('tr');
                row.innerHTML = '<td>' + item.good_name + '</td>' +
                    '<td>' + item.total_income + '</td>' +
                    '<td>' + item.total_expense + '</td>' +
                    '<td>' + item.balance + '</td>' +
                    '<td>' +
                    '<button onclick="getAdditionalInfo(' + item.good_id + ')" class="btn btn-primary">Get Additional Info</button>' +
                    '</td>';
                tbody.appendChild(row);

                // Добавляем строку с дополнительной информацией
                var additionalInfoRow = document.createElement('tr');
                additionalInfoRow.className = 'additional-info-row';
                additionalInfoRow.id = 'additional-info-' + item.good_id;
                additionalInfoRow.style.display = 'none';

                var additionalInfoCell = document.createElement('td');
                additionalInfoCell.colSpan = 5;

                var additionalInfoTable = document.createElement('table');
                additionalInfoTable.className = 'table';

                var additionalInfoTableHead = document.createElement('thead');
                additionalInfoTableHead.innerHTML = '<tr>' +
                                                    '<th>Quantity</th>' +
                                                    '<th>Income/Expense</th>' +
                                                    '<th>Date</th>' +
                                                    '</tr>';
                additionalInfoTable.appendChild(additionalInfoTableHead);

                var additionalInfoTableBody = document.createElement('tbody');
                additionalInfoTableBody.id = 'additional-info-body-' + item.good_id;

                additionalInfoTable.appendChild(additionalInfoTableBody);
                additionalInfoCell.appendChild(additionalInfoTable);
                additionalInfoRow.appendChild(additionalInfoCell);
                tbody.appendChild(additionalInfoRow);
            });
        }

        function getAdditionalInfo(goodId) {
            var additionalInfoRow = document.getElementById('additional-info-' + goodId);
            console.log("We find a var");
            // Проверяем, существует ли элемент
            if (additionalInfoRow) {
                var isVisible = additionalInfoRow.style.display !== 'none';
                if (isVisible) {
                    additionalInfoRow.style.display = 'none';
                } else {
                    console.log("Start search");
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/ri/inventory/", true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
                            console.log("Also Finish");
                            if (data.additional_info.length > 0) {
                                var tbody = document.getElementById('additional-info-body-' + goodId);
                                tbody.innerHTML = '';
                                data.additional_info.forEach(function (info) {
                                    var row = document.createElement('tr');
                                    row.innerHTML = '<td>' + info.quantity + '</td>' +
                                        '<td>' + info.income + '</td>' +
                                        '<td>' + info.date + '</td>';
                                    tbody.appendChild(row);
                                });
                                additionalInfoRow.style.display = 'table-row';
                            } else {
                                additionalInfoRow.style.display = 'none';
                            }
                        }
                    };
                    xhr.send('good_id=' + goodId);
                }
            } else {
                console.error("Element with id 'additional-info-" + goodId + "' not found.");
            }
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
